/*
ピンク　#FF29AF
背景用　#BCF8F7
薄い水色　＃5BDBFF
文字用水色 #00BAFF
*/

body{
    background-color: #BCF8F7;
    margin: 0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menu{
    margin: auto;
    width: 100vw;
}

.menu .logo{
    background-image: url("201908.svg");
    margin: 20px auto 0 auto;
    width: 300px;
    height: 300px;
}

.menu title{
    background-image: url("ひと夏の挑戦.svg");
    margin: 20px auto;
    height: 40px;
}

.menu ul{
    margin: 30px 0;
    display: flex;
    padding: 0;
    justify-content: space-around;
}

.menu li{
    list-style-type: none;
}

.menu li a{
    font-size: 20px;
    text-decoration: none;
    color: #00BAFF;
}

.menu li a:visited{
    color: #00BAFF;
}